Repository jamie--stewart/claude-code-webui: changes, and which lefthook commands are due for each by the changed paths.
All: format-check-frontend, format-check-backend, lint-frontend, lint-backend

format-check-frontend:
  priority: 2
  run: npm run format:check

format-check-backend:
  priority: 2
  run: npm run format:check

lint-frontend:
  priority: 2
  run: npm run lint

lint-backend:
  priority: 2
  run: npm run lint

bd sync: 2026-01-05 09:48:32
  .beads/.gitignore
  .beads/issues.jsonl
Due: none

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
Due: none

fix: Use exact text matching in e2e tests to avoid ambiguous selectors
  frontend/tests/ask-user-question.spec.ts
Due: format-check-frontend, lint-frontend

bd sync: 2026-01-05 17:03:33
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-05 17:09:02
  .beads/issues.jsonl
Due: none

ci: Optimize PR checks and add E2E tests for main
  .github/workflows/ci.yml
  Makefile
Due: none

bd sync: 2026-01-05 17:19:19
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-05 18:27:39
  .beads/issues.jsonl
Due: none

Address review feedback for context overflow handling
  backend/handlers/chat.test.ts
  backend/handlers/chat.ts
  frontend/src/components/ChatPage.tsx
  frontend/src/components/MessageComponents.tsx
  frontend/src/components/chat/ChatMessages.tsx
Due: format-check-frontend, format-check-backend, lint-frontend, lint-backend

test: Add comprehensive tests for CodeBlock component
  frontend/src/components/messages/CodeBlock.test.tsx
Due: format-check-frontend, lint-frontend

Add image validation and comprehensive tests
  frontend/src/components/chat/ImagePreview.test.tsx
  frontend/src/hooks/chat/useImagePaste.test.ts
  frontend/src/hooks/chat/useImagePaste.ts
Due: format-check-frontend, lint-frontend

bd sync: 2026-01-06 12:52:49
  .beads/issues.jsonl
Due: none

Add data-testid attributes to components for E2E testing
  frontend/src/components/SettingsButton.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/chat/PlanPermissionInputPanel.tsx
Due: format-check-frontend, lint-frontend

Update Playwright config for visual snapshot tests
  frontend/playwright.config.ts
Due: format-check-frontend, lint-frontend

Add visual snapshot tests for key UI states
  frontend/tests/helpers/visual-test-helpers.ts
  frontend/tests/visual-snapshots.spec.ts
  frontend/tests/visual-snapshots.spec.ts-snapshots/ask-user-question-multiselect-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/ask-user-question-multiselect-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/ask-user-question-single-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/ask-user-question-single-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-empty-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-empty-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-loading-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-loading-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-with-code-block-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-with-code-block-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-with-messages-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-with-messages-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-with-tool-result-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/chat-with-tool-result-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/demo-page-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/demo-page-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/plan-permission-panel-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/plan-permission-panel-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/project-selection-empty-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/project-selection-empty-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/project-selection-error-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/project-selection-error-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/project-selection-loading-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/project-selection-loading-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/project-selection-with-projects-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/project-selection-with-projects-mobile-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/settings-modal-desktop-linux.png
  frontend/tests/visual-snapshots.spec.ts-snapshots/settings-modal-mobile-linux.png
Due: format-check-frontend, lint-frontend

Update CI config
  .github/workflows/ci.yml
Due: none

bd daemon sync: 2026-01-07 12:08:31
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-07 12:10:11
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-07 12:16:12
  .beads/issues.jsonl
Due: none

Refactor ChatPage.tsx - extract components and hooks
  frontend/src/components/ChatPage.tsx
  frontend/src/components/chat/ChatHeader.tsx
  frontend/src/hooks/chat/useMessageSending.ts
  frontend/src/hooks/chat/useNavigation.ts
  frontend/src/hooks/chat/usePermissionHandlers.ts
Due: format-check-frontend, lint-frontend

bd daemon sync: 2026-01-07 12:23:09
  .beads/issues.jsonl
Due: none

Add ErrorBoundary component and structured error handling
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/hooks/chat/useMessageSending.ts
  frontend/src/hooks/streaming/useStreamParser.test.ts
  frontend/src/hooks/streaming/useStreamParser.ts
  frontend/src/types/errors.ts
Due: format-check-frontend, lint-frontend

bd daemon sync: 2026-01-07 12:29:26
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-07 12:36:17
  .beads/issues.jsonl
Due: none

Add E2E tests for error scenarios and accessibility
  frontend/tests/accessibility.spec.ts
  frontend/tests/error-scenarios.spec.ts
Due: format-check-frontend, lint-frontend

Enhance tool result message formatting with status indicators
  frontend/src/components/MessageComponents.tsx
  frontend/src/components/messages/ToolResultDisplay.test.tsx
  frontend/src/components/messages/ToolResultDisplay.tsx
  frontend/src/utils/toolResultUtils.test.ts
  frontend/src/utils/toolResultUtils.ts
Due: format-check-frontend, lint-frontend

bd daemon sync: 2026-01-07 14:04:35
  .beads/issues.jsonl
Due: none

Improve E2E test reliability and maintainability
  frontend/tests/accessibility.spec.ts
  frontend/tests/error-scenarios.spec.ts
Due: format-check-frontend, lint-frontend

Fix tool result display bugs and improve diff detection
  frontend/src/components/messages/ToolResultDisplay.test.tsx
  frontend/src/components/messages/ToolResultDisplay.tsx
  frontend/src/utils/toolResultUtils.ts
Due: format-check-frontend, lint-frontend

Fix lint errors: unused variable and explicit any types
  frontend/src/components/messages/CopyButton.tsx
  frontend/tests/ask-user-question.spec.ts
Due: format-check-frontend, lint-frontend

bd daemon sync: 2026-01-07 14:39:04
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-01-07 14:41:52
  .beads/issues.jsonl
Due: none

Move AskUserQuestion types to shared package
  frontend/src/types.ts
  shared/types.ts
Due: format-check-frontend, lint-frontend

Add tests for CLI path detection and validation logic
  backend/cli/validation.test.ts
Due: format-check-backend, lint-backend

Path conditions:
  format-check-frontend: any of: *.{ts,tsx,js,jsx,json,css,md} and ^frontend/
  format-check-backend: any of: *.{ts,js,json,md} and ^backend/
  lint-frontend: any of: *.{ts,tsx,js,jsx} and ^frontend/
  lint-backend: any of: *.ts and ^backend/
